html, body {
  background-color: #e9ebee;
  color: #1d2129;
  font-size: 16px;
  padding: 1rem;
}

.row {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 1rem 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #777;
}

.flex {
  flex: 10;
}
