.title, .body {
  padding: 8px;
}

.title {
  color: #919191;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.separator {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eee;

  &:before {
    content: " ";
  }
}

.actions {
  padding: 0.5rem 0;
  padding-top: 1rem;
  text-align: right;
}
