<ll-panel>
  <nav class="lists-navbar">
    <ul class="menu-list">
      <li class="list-item">
        <button
            [routerLink]="['lists']"
            [routerLinkActive]="['active']"
            class="btn">
          Mis listas
        </button>
      </li>

    <span class="flex"></span>

    <ul class="menu-list">
      <li class="list-item">
        <button
            (click)="logout()"
            class="btn">
          Salir
        </button>
      </li>
    </ul>

  </nav>
</ll-panel>

<router-outlet></router-outlet>
