.list-item {
  align-items: center;
  display: flex;
  padding: 0.2rem;

  .icon  {
    color: #555;
    font-size: 0.8rem;
  }

  .title {
    display: inline-block;
    font-size: 0.8rem;
    padding: 5px 10px;
  }

  .actions {
    .detail {
      color: #77f;
    }

    .remove {
      color: #f77;
    }
  }
}
