<ll-card>

  <div title class="title">
    <h2 *ngIf="!renameMode">
      {{list.getName()}}
    </h2>

    <input
        *ngIf="renameMode"
        [(ngModel)]="listName"
        (keyup.enter)="rename()"
        (focusout)="rename()" />

    <button (click)="renameMode = true">
      <span class="fa fa-pencil-square"></span>
    </button>
  </div>

  <div body>
    <p *ngIf="movies.length === 0">No hay elementos</p>

    <ll-list-item
        *ngFor="let element of movies"
        [list]="list"
        [element]="element"
        (detail)="goToDetail($event)"
        (remove)="removeElement($event)">
    </ll-list-item>
  </div>

  <div actions class="actions">
    <button (click)="addElements.emit(list)">Agregar elementos</button>
    <button (click)="removeList.emit(list)">Eliminar</button>
  </div>

</ll-card>
