.title {
  h2 {
    color: #555;
    display: inline-block;
    font-size: 1rem;
    padding: 3px 0 0 0;
  }

  button {
    color: #aaa;
  }
}

.actions {
  button {
    font-size: 0.8rem;
    padding: 0.1rem 0.5rem;
    background-color: #eee;
    border: 1px solid #ddd;
    color: #555;
  }

}
