/* You can add global styles to this file, and also import other style files */
@import "~reset-scss/reset";
@import "~flexboxgrid";

html, body {
  background-color: #e9ebee;
  color: #1d2129;
  font-size: 16px;
  padding: 1rem;
}

.row {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 1rem;
  font-size: 1.5rem;
  color: #777;
}
